@use "../utils" as *;
@use "../base/typography" as *;

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: $page-color;
    padding: 16px;
    border-radius: 16px;

    .sub-heading {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        h3 {
            @include font-heading-small;
        }
    }

    a {
        color: $primary-color;
        

        &:hover {
            color: $secondary-color;
        }
    }

    .articles {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .article-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
            background-color: $background-color;
            padding: 8px;
            border-radius: 8px;
        }
    }
}