@use "../utils" as *;
@use "../base/typography" as *;

nav {
    display: flex;
    gap: 32px;
    justify-content: center;
    grid-area: nav;

    a {
        background-color: $page-color;
        color: $primary-color;
        width: 100%;
        padding: 16px;
        border-radius: 8px;
        text-align: center;
        @include font-default;

        &:hover {
            color: $secondary-color;
        }
    }

    @media (max-width: 600px) {
        display: none;

        &.active {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $page-color;
            flex-direction: column;
            padding: 16px;
            z-index: 100;
        }
    }
}

.hamburger-menu {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 101;

    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .bar-long {
        width: 24px;
        height: 3px;
        background-color: $primary-color;
        border-radius: 3px;
    }

    .bar-short {
        width: 20px;
        height: 3px;
        background-color: $primary-color;
        border-radius: 3px;
    }

    &.active {
        .bar-long {
            &.top {
                transform: rotate(45deg) translate(5px, 5px);
            }
            &.bottom {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }

        .bar-short {
            opacity: 0;
        }
    }
}
