@mixin font-default {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

@mixin font-heading-small {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

@mixin font-heading {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

@mixin font-heading-large {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
}